.features-tab-1.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    /* ### Primary */
    --blue-500: hsl(231, 61%, 51%);
    --blue-600: #5368df;
    --red-400: rgb(250, 87, 87);

    /* ### Neutral */
    --neutral-100: lab(98.27% 0.01 -0.01 / 0.959);

    --grey-50: hsla(0, 0%, 8%, 0.26);
    --grey-100: hsla(0, 5%, 11%, 0.514);
    --grey-150: hsla(0, 46%, 5%, 0.781);
    --blue-950: hsl(229, 31%, 21%);

    /*  */
    --white: hsla(0, 0%, 100%, 1);
    --white-2: hsla(0, 0%, 100%, 1);
    --rosy-granite: hsla(240, 4%, 56%, 1);
    --alabaster-grey: hsla(240, 5%, 87%, 1);

    /* colors background */
    --space-indigo: #2F354Fff;
    --space-indigo-2: rgba(53, 57, 80, 0.92);
    --cool-steel: #A2A6B4ff;
    --space-indigo-3: #2B314Dff;
    
    --background: linear-gradient(180deg, var(--space-indigo), var(--space-indigo-2), var(--space-indigo-3));

    /* icon arrow */
    --arrow-up: url('./images/icon-arrow-up.png');
    --arrow-down: url('./images/icon-arrow.svg');
    --current-icon: var(--arrow-down);
}
@font-face {
    font-family: Rubik;
    src: url('./font/Rubik/Rubik-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    position: relative;
}
.no-scroll {
    overflow: hidden!important;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    gap: 0.5em;
}
footer {
    background-color: var(--blue-950);
    padding: 0;
    margin: 0;
}
.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8vh;
}
header {
    padding: 35px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--background);
    top: 0;
    left: 0;
    z-index: 1;
}
#desktop {
    display: none;
}
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg-none {
    background: none;
}
.menu-links {
    margin-top: 2.2em;
    margin-bottom: 2.3em;
}
a.link:first-child {
    border-top: 1px solid var(--cool-steel);
}
a.link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--neutral-100);
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid var(--cool-steel);
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-transform: uppercase;
}
.link:hover {
    color: var(--red-400)!important;
}
a.btn-login {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 2px solid white;
    padding: 0.8em;
    border-radius: 5px;
    margin-top: 2em;
    text-transform: uppercase;
}
.p-x-1 {
    padding-left: 1em!important;
    padding-right: 1em!important;
}
.p-x-2 {
    padding-left: 2em!important;
    padding-right: 2em!important;
}
.p-y-1-2 {
    padding-top: 1.2em!important;
    padding-bottom: 1.2em!important;
}
.p-y-2 {
    padding-top: 2em!important;
    padding-bottom: 2em!important;
}
.p-x-3 {
    padding-left: 3em!important;
    padding-right: 3em!important;
}
.p-0-5 {
    padding-left: 0.5em!important;
    padding-right: 0.5em!important;
}
.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}
.gap-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.gap-2 {
    gap: 2em!important;
}
.gap-x-1 {
    gap: 0.5em;
}
.center-gap {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 120%;
    margin-top: 1em;
    color: var(--space-indigo);
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border: 1px solid var(--grey-50);
    border-left: none;
    border-right: none;
}
td {
    padding: 0.8em;
    text-align: center;
    color: var(--grey-150);
}
.size-sm {
    font-size: 12px!important;
}
.size-md {
    font-size: 24px!important;
}
.size-xl {
    font-size: 30px!important;
}
.letter-spacing {
    letter-spacing: 5px;
}
.text-uppercase {
    text-transform: uppercase;
}
p {
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: var(--cool-steel);
    margin-top: 1em;
    margin-bottom: 2em;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-3 {
    margin-top: 3em;
}
.mt-4 {
    margin-top: 4em;
}
.mt-5 {
    margin-top: 5.5em;
}
.mt-7 {
    margin-top: 7em;
}
.mt-9 {
    margin-top: 9em;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 4em;
}
.mb-8 {
    margin-bottom: 8em;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-500);
}
.pt-3 {
    padding-top: 3.5em;
}
.padding-contact {
    box-sizing: border-box;
    padding-bottom: 3.5em;
}
.more-info {
    display: none;
}
input[type="email"] {
    width: 80%;
    height: 42px;
    border: none;
    padding: 1em;
}
input[type="email"]::placeholder {
    color: var(--rosy-granite);
    font-size: 14px;
}
input[type="email"]:focus {
    outline: none;
}
.input-container {
    display: flex;
    width: 85vw;
    height: auto;
    border-radius: 5px;
    padding: 0;
    border: 2px solid var(--white);
    z-index: 2;
    background-color: var(--white);
}
.input-container:focus-within {
    border: 2px solid var(--red-400);
}
.icon-message {
    display: none;
    width: 20%;
    height: auto;
    background: url(./images/icon-error.svg) center no-repeat;
}
.message-error {
    color: var(--white-2);
    background-color: var(--red-400);
    font-size: 10px;
    font-style: italic;
    text-align: left;
    padding: 0.8em;
    padding-left: 1.2em;
    padding-bottom: 0.6em;
    border-radius: 5px;
    margin-top: -0.5em;
    z-index: 1;
    display: none;
}
.w-full {
    width: 100%;
}
.btn-contact {
    width: 85vw;
    background-color: var(--red-400);
    color: var(--white);
    border: 2px solid var(--red-400);
}
.btn-contact:hover {
    background-color: var(--white)!important;
    color: var(--red-400);
    border-color: var(--red-400)!important;
}
.text-white {
    color: var(--white)!important;
}
.title-final {
    color: var(--white);
    font-size: 3vh;
}
.container {
    display: flex;
    justify-content: center;
}
.hero-section, .hero-section-reverse {
    width: 100%;
    height: 100%;
}
.relative {
    position: relative;
}
.hero {
    position: absolute;
    width: 82vw;
    height: 215px;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 100px;
    background-color: var(--blue-600);
}
.hero-section::after {
    position: absolute;
    width: 150px;
    height: 250px;
    right: 0;
    background: var(--blue-600);
}
.logo-bookmark {
    width: 145px;
    height: 25px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.btn-question {
    text-align: left;
    width: 85vw;
    border: none;
    padding: 1em;
    border-top: 1px solid var(--grey-50);
    border-bottom: 1px solid var(--grey-50);
    color: var(--grey-150);
    font-size: 14px;
    background: inherit;
}
.border-none {
    border: none!important;
}
.border-bottom-none {
    border-bottom: none!important;
}
.btn-question.active {
    border-bottom: none;
}
.btn-question:focus {
    outline: none;
}
.btn-question:hover {
    color: var(--red-400);
}
.btn-question::after {
    cursor: pointer;
    float: right;
    content: "";
    width: 20px;
    height: 20px;
    background: var(--current-icon) center no-repeat;
    background-size: contain;
}
details summary {
    list-style: none;
}
.btn-question:active::after {
    background: var(--arrow-up) center no-repeat;
    background-size: contain;
    animation: 0.5s rotate-arrow ease forwards;
}
a.link-facebook {
    display: block;
    width: 25px;
    height: 25px;
    background: url(./images/facebook-brands-solid-full.svg) center no-repeat;
    background-size: contain;
}
a.link-facebook:hover {
    background: url(./images/facebook-brands-solid-full-hover.svg) center no-repeat;
}
a.link-twitter {
    display: block;
    width: 25px;
    height: 25px;
    background: url(./images/x-twitter-brands-solid-full.svg) center no-repeat;
    background-size: contain;
}
a.link-twitter:hover {
    background-image: url(./images/x-twitter-brands-solid-full-hover.svg);
}
a.link-github {
    display: block;
    width: 25px;
    height: 25px;
    background: url(./images/github-brands-solid-full.svg) center no-repeat;
    background-size: contain;
}
a.link-github:hover {
    background-image: url(./images/github-brands-solid-full-hover.svg);
}
@keyframes rotate-arrow {
    0% {transform: rotate(180deg);}
    100% {transform: rotate(0);}
}
.bold {
    font-size: 18px;
    font-weight: 500!important;
}
.no-wrap {
    flex-wrap: nowrap!important;
}
.no-box-shadow {
    box-shadow: none!important;
}
.answer {
    width: 85vw;
    display: none;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 15px;
    line-height: 190%;
    color: var(--grey-100);
}
.p-none {
    padding: 0!important;
}
.btn {
    cursor: pointer;
    border: none;
    padding: 14px 22px;
    border-radius: 5px;
    font-weight: 500;
    border: 2px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn:hover {
    border-color: var(--space-indigo);
    background: inherit;
}
.btn-blue-600 {
    color: white;
    background-color: var(--blue-600);
    border: 2px solid var(--blue-600);
}
.btn-blue-600:hover {
    background-color: inherit;
    color: var(--blue-600);
    border-color: var(--blue-600);
}
.border-bottom {
    text-decoration: underline;
    text-decoration-color: var(--red-400);
    text-decoration-thickness: 4px;
    text-underline-offset: 16px;
}
.display-none {
    display: none;
}
.card {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 6em;
    width: 400px;
    gap: 2px;
    border-radius: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card + .mt-4, .card + .mt-9 {
    margin-top: 0!important;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-title h2, .card-title p {
    width: 100%;
    margin: 0.2em 0;
}
.card-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 1em;
    padding-top: 1.5em;
    background: url('./images/bg-dots.svg') top left no-repeat;
}
.card div:first-child {
    height: 160px;
}
.card img {
    display: block;
    max-width: 100px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center-no-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center > span {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 16px;
    margin: 1em;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.element {
    background-color: var(--blue-950);
    padding: 2em;
    padding-bottom: 1em;
}

.align-footer {
    display: flex;
    flex-direction: column;
}
.align-footer span {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--cool-steel);
}
.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    padding-left: 3em;
    padding-right: 3em;
}
.mini-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 73px;
}
.display-none {
    display: none!important;
}
.btn-active {
    padding-bottom: 0.9em!important;    
    border-bottom: 4px solid var(--red-400)!important;
}
.btn-link:first-child {
    border-top: 2px solid var(--cool-steel);
}
.btn-link {
    position: relative;
    width: 100%;
    display: block;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid var(--cool-steel);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.btn-link:hover {
    color: var(--red-400);
}
.two-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.list-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-left: 3em;
    padding-right: 3em;
    flex-wrap: wrap;
}
.illustration {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1em;
}
.features-tab-1 , .features-tab-2 , .features-tab-3 {
    width: 100%;
    height: auto;
    right: 0;
    top: 0;
}
rect {
    animation: 1s opacityAnimation infinite;
}
@keyframes opacityAnimation {
    0% {opacity: 0.1;}
}
.blob {
    position: absolute;
    width: 95vw;
    height: 215px;
    background-color: var(--blue-600);
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    bottom: -2.5vh;
    left: -10vw;
    z-index: -1;
}
.feature-hero {
    position: relative;
    width: 100%;
    height: auto;
}
.features {
    margin-top: 73px;
}
.bloc-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: var(--red-400);
        transition: width 0.3s ease-out;
    }
    summary {
        font-size: 18px!important;
    }
    details summary, .section-question {
        width: 100%!important;
    }
    .size-2xl {
        font-size: 32px!important;
    }
    .link:hover::after {
        width: 100%;
    }

    .input-container {
        width: auto;
    }
    .title-final {
        width: 100%;
        font-size: 32px;
    }
    .desc-contact {
        width: 40vw;
        text-align: center!important;
        padding-left: 1em;
        padding-right: 1em;
    }
    .two-container {
        flex-wrap: nowrap;
        gap: 3em;
    }
    .answer {
        width: 100%;
        font-size: 18px!important;
        padding-top: 1em;
        padding-bottom: 1.5em;
    }
    h1.size-2xl {
        margin: 0!important;
    }
    .bloc-question {
        width: 678px;
        height: auto;
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 25px;
        box-sizing: border-box;
        justify-content: flex-start;
        gap: 25px;
    }
    .w-md {
        width: 62%;
    }
    .card {
        width: 20vw;
    }
    .list-card {
        padding: 0;
    }
    .size-md {
        font-size: 5vh!important;
    }
    .mini-menu {
        flex-direction: row;
    }
    .desc-features {
        text-align: center!important;
        padding-left: 9em!important;
        padding-right: 9em!important;
        font-weight: 400;
        font-size: 18.5px!important;
        line-height: 28px;
        letter-spacing: -1%;
    }
    .btn-link:first-child {
        border-top: none;
    }
    .btn-link:first-child::after {
        width: 100%;
    }
    .btn-link {
        width: 17.4vw!important;
        padding-bottom: 1.5em!important;
    }
    .align-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 2em;
    }
    .element {
        padding: 1em;
    }
    input[type="email"] {
        width: 300px;
    }
    .btn-contact {
        width: auto;
        height: 48px;
        padding: 8px 20px;
        font-size: 14px;
    }
    #btn-open {
        display: none;
    }
    .container {
        justify-content: start;
    }
    header {
        justify-content: space-between;
        padding-left: 8em;
        padding-right: 8em;
    }
    nav,#desktop {
        width: 38vw;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
    a.link:first-child {
        border-top: none;
    }
    a.btn-login {
        margin: 0;
        padding: 10px 30px;
        font-size: 13px;
        width: auto;
        border: 2px solid transparent;
        background-color: var(--red-400);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    a.btn-login:hover {
        background-color: var(--white)!important;
        color: var(--red-400);
        border-color: var(--red-400)!important;
    }
    a.link {
        font-size: 13px;
        padding: 8px 18px;
        width: auto;
        border: none;
        color: black;
        position: relative;
    }
    .both-element {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .both-element > div:first-child {
        margin: 0;
        padding: 0;
    }
    .element-variant > p {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .element-variant {
        height: 57vh;
        padding-left: 5em;
        padding-right: 5em;
    }
    .feature-block {
        position: relative;
        width: 100%;
        height: 65vh;
    }
    .features-tab-1 {
        position: absolute;
        width: 35vw;
        height: auto;
        right: 0;
        top: 0;
    }
    .features-tab-2 {
        position: absolute;
        width: 30vw;
        height: auto;
        right: 0;
        top: 0;
    }
    .features-tab-3 {
        position: absolute;
        width: 28vw;
        height: auto;
        right: 0;
        top: 0;
    }
    .blob {
        position: absolute;
        width: 636px;
        height: 350px;
        background-color: var(--blue-600);
        top: 11vh;
        left: -10vw;
        z-index: -1;
    }
    .hero-section {
        width: 657px;
        height: 466px;
    }
    .hero {
        width: 530px;
        height: 360px;
        top: 114px;
        border-top-left-radius: 250px;
        border-bottom-left-radius: 250px;
    }
    .landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 8em;
        padding-right: 3em;
        height: 15vh;
    }
    .landing > .center-gap {
        width: 100%;
        justify-content: start; 
    }
    h1 {
        text-align: left;
    }
    h1.size-xl {
        font-size: 46px!important;
        text-align: left;
        width: 100%;
    }
    .description {
        padding: 0;
        font-size: 18px!important;
        letter-spacing: -0.1%!important;
        line-height: 155%!important;
    }
    p {
        font-size: 17.5px;
        text-align: left;
    }
}