.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    /* ### Primary */
    --blue-500: hsl(231, 61%, 51%);
    --blue-600: hsl(231, 69%, 60%);
    --red-400: hsl(0, 94%, 66%);

    /* ### Neutral */

    --grey-50: hsla(0, 0%, 8%, 0.26);
    --grey-100: hsla(0, 5%, 11%, 0.514);
    --grey-150: hsla(0, 46%, 5%, 0.781);
    --grey-200: hsla(0, 33%, 1%, 0.836);
    --grey-300: hsla(0, 46%, 5%, 0.76);
    --blue-950: hsl(229, 31%, 21%);
}
@font-face {
    font-family: Rubik;
    src: url('./font/Rubik/Rubik-VariableFont_wght.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: var(--blue-950);
    padding: 0;
    margin: 0;
}
header {
    padding: 35px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-x-1 {
    padding-left: 1em;
    padding-right: 1em;
}
.p-x-2 {
    padding-left: 2em;
    padding-right: 2em;
}
.p-y-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.p-x-3 {
    padding-left: 3em;
    padding-right: 3em;
}
.p-0-5 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.gap-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}
.space-between {
    display: flex;
    justify-content: center;
    gap: 1em;
}
h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 120%;
    margin-top: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border: 1px solid var(--grey-50);
    border-left: none;
    border-right: none;
}
td {
    padding: 0.8em;
    text-align: center;
    color: var(--grey-150);
}
.size-md {
    font-size: 24px;
}
.size-xl {
    font-size: 30px;
}
p {
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: var(--grey-100);
    margin-top: 1em;
    margin-bottom: 2em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-3 {
    margin-top: 3em;
}
.mt-5 {
    margin-top: 5.5em;
}
.mt-7 {
    margin-top: 7em;
}
.mb-2 {
    margin-bottom: 4em;
}
.mb-8 {
    margin-bottom: 8em;
}
.contact {
    background-color: var(--blue-500);
    padding: 3.5em 2em;
}
.more-info {
    display: none;
}
input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--grey-50);
}
.w-full {
    width: 100%;
}
.btn-red {
    background-color: var(--red-400);
    color: white;
}
.text-white {
    color: white;
}
.container {
    display: flex;
    justify-content: center;
}
.hero-section, .hero-section-reverse {
    width: 100%;
    height: 100%;
}
.relative {
    position: relative;
}
.hero {
    position: absolute;
    width: 300px;
    height: 195px;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 100px;
    background-color: var(--blue-600);
}
.hero-reverse {
    position: absolute;
    width: 310px;
    height: 195px;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom-right-radius: 100px;
    background-color: var(--blue-600);
}
.hero-section::after {
    position: absolute;
    width: 150px;
    height: 250px;
    right: 0;
    background: var(--blue-600);
}
.logo-bookmark {
    width: 145px;
    height: 25px;
}
.btn {
    cursor: pointer;
    border: none;
    padding: 15px 16px;
    border-radius: 5px;
    font-weight: 500;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.btn-question {
    text-align: left;
    width: 100%;
    border: none;
    padding: 1em;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid var(--grey-50);
    color: var(--grey-150);
    font-size: 16px;
    background: inherit;
}
.btn-question::after {
    cursor: pointer;
    float: right;
    content: "";
    width: 20px;
    height: 20px;
    background: url('./images/icon-arrow.svg') center no-repeat;
    background-color: inherit;
    background-size: contain;
}
.btn-question:focus + .answer {
    display: block;
}   
.answer {
    display: none;
}
.p-none {
    padding: 0;
}
.btn-blue-600 {
    color: white;
    background-color: var(--blue-600);
}
.border-bottom {
    text-decoration: underline;
    text-decoration-color: var(--red-400);
    text-decoration-thickness: 4px;
    text-underline-offset: 16px;
}
.menu-phone {
    display: none;
    position: absolute;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    width: 400px;
    gap: 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card div:first-child {
    height: 150px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center > span {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 16px;
    margin: 1em;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card img {
    display: block;
    max-width: 80px;
}
.element {
    background-color: var(--blue-950);
    padding: 2em;
    padding-bottom: 1em;
}